{% extends 'main.html' %}
{% load i18n %}

{% block content %}



<div>
    <h1>{% translate "Tasks" %}</h1>
</div>
<a class="btn btn-secondary m-3" style="width: 150px" href="{% url 'create-task' %}">{% translate "Create task" %}</a>
<div>
    <table class="table table-secondary table-striped h5">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">{% translate "Name" %}</th>
                <th scope="col">{% translate "Status" %}</th>
                <th scope="col">{% translate "Author" %}</th>
                <th scope="col">{% translate "Executor" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_list %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td><a class="text-dark" href="{% url 'detail-task' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created }}</td>
                <td>
                    <a class="text-dark" href="{% url 'update-task' task.id %}">{% translate "edit" %}</a>
                    <br>
                    <a class="text-dark" href="{% url 'delete-task' task.id %}">{% translate "delete" %}</a>
                </td>
            </tr>
            {% empty %}
            <p>{% translate "No tasks yet." %}</p>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}