
{% extends 'main.html' %}
{% load i18n %}

{% block content %}


<body class=''>
<div>
    <h1>{% translate "Users" %}</h1>
</div>
<br>
<br>
<div>
    <table class="table table-secondary table-striped h5">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">{% translate "Username" %}</th>
                <th scope="col">{% translate "Fullname" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    {%  if request.user.id == user.id %}
                    <a class="text-dark" href="{% url 'update-user' user.id %}">{% translate "edit" %}</a>
                    <br>
                    <a class="text-dark" href="{% url 'delete-user' user.id %}">{% translate "delete" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <p>{% translate "No users yet." %}</p>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock content %}
