
{% extends 'main.html' %}
{% load i18n %}

{% block content %}

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'navbar.html' %}

        <div>
            <h1>Users</h1>
        </div>

        <div>
            <ul class="list-group">
                {% for user in users_list %}
                    <li class="list-group-item text-secondary"><h3>{{ user }}</h3></li>
                {% empty %}
                    <li>No users yet.</li>
                {% endfor %}
            </ul>
        </div>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>This is footer</p>
            </div>
        </footer>
    </div>
</body>

{% endblock content %}