{% extends 'main.html' %}
{% load i18n %}

{% block content %}

<div>
    <h1>{% translate header %}</h1>
</div>

<form class="text-dark" method="post">
    {% csrf_token %}
    <p>
    {% blocktranslate %}Are you sure you want to delete "{{ object }}"?{% endblocktranslate %}
    </p>
    <input class="btn btn-danger" type="submit" value="{% translate button_name %}">
    <input type="button" class="btn btn-outline-dark" value="{% translate back_button %}" onclick="history.back()">
</form>


{% endblock content %}