{% extends 'main.html' %}
{% load i18n %}

{% block content %}

<div>
    <h1>{% translate "Log in" %}</h1>
</div>
<div class='d-flex justify-content-center'>
    <form class="text-dark justify-content-around " style='width: 250px;' method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <label>{% translate "Username" %}:</label>
        <input style='width: 220px;' type='text' name='username' placeholder="{% translate 'Enter username' %}">
        <label>{% translate "Password" %}:</label>
        <input style='width: 220px;' type='text' name='password' placeholder="{% translate 'Enter password' %}">
        <br>
        <br>
        <input class="btn btn-warning" type="submit" value="{% translate 'Log in' %}">
    </form>

</div>
<div>
    <hr>
    <p>{% translate "Haven't signed up yet" %}?</p>
    <a class="btn-sm btn-link" href="{% url 'create-user' %}">{% translate "Sign up" %}</a>
    <hr>
</div>


{% endblock content %}