{% load i18n %}

<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand m-3"><a class="navbar-brand" href='/'>{% translate "Task manager" %}</a></h3>
        <nav class="nav nav-masthead justify-content-center">

        <a href="/users" class="btn btn-secondary m-3 mr-5 ">{% translate "Users" %}</a>
        <div class='row m-3'>
            <a class="nav-link" href="#">{% translate "Login" %}</a>
            <a class="nav-link" href="#">{% translate "Register" %}</a>
        </div>   
        </nav>
    </div>
</header>